@use 'base/var' as v;
.header {
    position: relative;
    background-color: v.$colorPrimario;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.logo{
    width: 30rem;
    height: 100%;
    filter:invert(100%)
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    position:relative;
    height: 15vh;
    background-color: v.$colorSecundario;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.navbar li {
    list-style: none;
    color: v.$blanco;
    margin: 1rem ;
    padding: 1rem 5rem;
    font-size: 3rem;
    transition: all 1s;
    width: 100%;
    height: 100%;
    margin: 0;
}

.navbar li:last-child {
    padding: 1rem 5rem 1rem 5rem;
}

.navbar li:hover {
    background-color: v.$blanco;
    color: v.$colorSecundario;
    width: 100%;
    height: 100%;
}

.login {
    display: inline-flex;
    

    & p {
        margin-bottom: 0;
        color: white;
    }
}

.logo--login {
    
    padding-left: 5rem;
    filter: invert(100%);
}   